
h1 {
	text-align: center;
	margin: 20px 0 30px 0;
}

h2 {
	text-align: left;
    margin: 1ch 1ch 1.5ch 0ch;
}

/* #TextField {
	font-size: 14px;
	font-weight: 500;
	word-break: break-word;
	cursor: default;
	border-bottom: 2ch;
} */

#NumberField {
	text-align: left;
	font-size: 3.5ch;
	border-bottom: 3ch;
}

.flex-container {
	border: 0.5ch;
	padding: 2ch;
	margin: 0 0 3.7rem 15rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-container > div {
	text-align: center;
	line-height: normal;
	margin: 0 0.5ch 0.2ch 0.5ch
}

.flex-button {
	border-top: 5ch;
	margin: 0.1ch 0 1ch 0;
	display: flex;
}

.flex-button > div {
	margin-right: 1ch;
	text-align: center;
	line-height: normal;
}

.flex-edu {
	/* border: 3ch; */
	padding: 2ch;
	display: flex;
	justify-content: left;
	align-items: flex-start;
}

.flex-edu > div {
	margin: 0.5ch;
	width: 400px;
	text-align: left;
	line-height: normal;
	color: black;
}

.flex-date {
	display: flex;
	text-align: left;
}

.flex-date > div {
	margin-right: 0.5ch;
	text-align: left;
}